[Desktop Entry]
Type=Application
Name=Slime Launcher
GenericName=Minecraft Launcher Frontend
Comment=Sleek Console-Style Frontend for Prism Launcher
Exec=slimelauncher
Icon=slime-launcher
Terminal=false
Categories=Game;Utility;
Keywords=minecraft;prism;launcher;controller;
StartupNotify=true
StartupWMClass=slimelauncher
